<!-- Просмотрено -->

{% extends 'redisign_base.html' %}

{% block menu %}

    {% if agent_flag == "0" %}
    {% include "menu/sales.html" %}
    {% else %}
    {% include "menu/agent.html" %}
    {% endif %}

{% endblock %}


{% block content %}

    <div><br> </div>

    <table class="table table-hover">
        <thead>
        <tr>
             <th scope="col">Дата платежа</th>
        <th scope="col">Сумма</th>
        <th scope="col">Арендатор</th>
        <th scope="col">Вид платежа</th>
        <th scope="col">Подробнее</th>
            {% if agent_flag == "0" %}

            {% endif %}
        </tr>
        </thead>
        <tbody>


        {% for row in payments_receipt_contract %}

                <tr>


                        <td>{{ row.2 }}</td>
                        <td>{{ row.1 }}</td>
                        <td>{{ row.3 }}</td>
                        <td>{{ row.4 }}</td>
                        <td><a href="#!" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#modalView{{ row.0 }}">Подробнее</a></td>
                    {% if agent_flag == "0" %}

                    {% endif %}
                </tr>


<!-- MODAL ПРОСМОТР -->
            <div id="modalView{{ row.0 }}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label>Дата платежа</label>
                                    <input type="hidden" name="id_rental_object" value="{{ row.0 }}">
                                    <input type="text" disabled class="form-control" name="a" value="{{ row.2 }}">
                                    <label>Сумма</label>
                                    <input type="text" disabled class="form-control" name="b" value = "{{ row.1 }}" />
                                    <label>Арендатор</label>
                                    <input type="text" disabled class="form-control" name="c" value = "{{ row.3}}" >
                                    <label>Вид платежа</label>
                                    <input type="text" disabled class="form-control" name="в" value = "{{ row.4 }}" >
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>


        {% endfor %}
        </tbody>
    </table>
{% endblock %}
